// background
$bg-portlet: #ffffff;
$bg-ant-layout: #f9fafc;
$bg-ant-menu: #111827;
$bg-ant-menu-item: #242a39;
$white-color: #fff;

// text color
$text-portlet-header: #9c75e7;
$text-title: #79b0f2;

//style
$style-border: 4px;
$style-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
